<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${movie.title}">Movie Comments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">HOME</a>
</nav>
<div class="container">
    <h1 class="mt-5" th:text="${movie.title}">COMMENT</h1>
    <div class="my-3">
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary" th:href="@{/movies}">BACK</a>
        </div>
    </div>

    <div class="mb-5">
        <form th:action="@{/movies/{movieId}/comments(movieId=${movie.id})}" method="post">
            <div class="form-group">
                <label>평   점 (1점 ~ 10점)</label>
                <input type="number" name="score" class="form-control" min="0" max="10" required/>
            </div>
            <div class="form-group">
                <label>후기 작성</label>
                <input type="text" name="content" class="form-control" required/>
            </div>
            <button type="submit" class="btn btn-primary">후기 등록</button>
        </form>
    </div>

    <div>
        <h2>COMMENTS</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>후   기</th>
                <th>평   점</th>
                <th>등록일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${comments}">
                <td th:text="${comment.content}"></td>
                <td th:text="${comment.score}"></td>
                <td th:text="${#dates.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
