<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${movie.title + ' - Movie Comments'}">Movie Comments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="static/comment_styles.css">-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">HOME</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/register}">회원가입</a>
        </li>
        <li class="nav-item" th:if="${session['loggedInUser'] == null}">
            <a class="nav-link" th:href="@{/login}">로그인</a>
        </li>
        <li class="nav-item" th:if="${session['loggedInUser'] != null}">
            <a class="nav-link" th:href="@{/logout}">로그아웃</a>
        </li>
    </ul>
</nav>
<div class="container">
    <h1 class="mt-5" th:text="${movie.title}"></h1>
    <div class="my-3">
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary" th:href="@{/movies}">BACK</a>
        </div>
    </div>

    <div class="mb-5">
        <form th:action="@{/movies/{movieId}/comments(movieId=${movie.id})}" method="post">
            <div class="form-group">
                <label>평점 (1점 ~ 10점)</label>
                <input type="number" name="score" class="form-control" min="0" max="10" required/>
            </div>
            <div class="form-group">
                <label>후기 작성</label>
                <input type="text" name="content" class="form-control" required/>
            </div>
            <button type="submit" class="btn btn-primary">후기 등록</button>
        </form>
    </div>

    <div>
        <h2>COMMENTS</h2>
        <div class="my-3">
            <div class="btn-group" role="group" aria-label="Sort Options">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sortDropdown">
                    정렬
                </button>
                <div class="dropdown-menu" aria-labelledby="sortDropdown">
                    <a class="dropdown-item" th:href="@{/movies/{movieId}/comments(movieId=${movie.id}, sort='date')}">등록순</a>
                    <a class="dropdown-item" th:href="@{/movies/{movieId}/comments(movieId=${movie.id}, sort='score')}">별점순</a>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th style="width: 60%;">후기</th>
                <th style="width: 5%;">평점</th>
                <th style="width: 13%;">작성자</th>
                <th style="width: 15%;">등록 일자</th>
                <th style="width: 7%;"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${comments}">
                <td th:text="${comment.content}"></td>
                <td th:text="${comment.score}"></td>
                <td th:text="${comment.userid}"></td>
                <td th:text="${#dates.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <form th:action="@{'/movies/' + ${movieId} + '/comments/delete(commentId=' + ${comment.id} + ')'}" method="post" th:if="${comment.userid == session.loggedInUser?.userid}" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="scripts.js"></script>

</body>
</html>
