<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">HOME</a>
</nav>
<div class="container">
    <div class="my-3">
        <div class="btn-group" role="group" aria-label="Sort Options">
            <a class="btn btn-primary" th:href="@{/movies/new}">영화 등록하기</a>
            <div class="btn-group" role="group">
                <button id="sortDropdown" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    정렬
                </button>
                <div class="dropdown-menu" aria-labelledby="sortDropdown">
                    <a class="dropdown-item" th:href="@{/movies(sort='date')}">최신순</a>
                    <a class="dropdown-item" th:href="@{/movies(sort='createdAt')}">등록순</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>영화 제목</th>
                <th>평점</th>
                <th>개봉 일자</th>
                <th>영화 감독</th>
                <th>등록 일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${movies}">
                <td><a th:href="@{/movies/{movieId}/comments(movieId=${movie.id})}" th:text="${movie.title}"></a></td>
                <td th:text="${movie.rating}"></td>
                <td th:text="${#dates.format(movie.date, 'yyyy-MM-dd')}"></td>
                <td th:text="${movie.director}"></td>
                <td th:text="${#dates.format(movie.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap 및 Popper.js 로드 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
