<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Movie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- JavaScript -->
    <script type="text/javascript" th:if="${session['loggedInUser'] == null}">
        window.addEventListener('DOMContentLoaded', function() {
            var confirmLogin = confirm("로그인이 필요한 서비스입니다. 로그인 페이지로 이동하시겠습니까?");
            if (confirmLogin) {
                location.replace("/login");
            } else {
                location.replace("/movies");
            }
        });
    </script>
    <style>
        .genre-badge {
            cursor: pointer;
            color: white;
            padding: 28px 36px;
        }
        .genre-badge:hover { background-color: #007bff; color: white; }
        .genre-badge.active {
            background-color: #007bff;
            color: white;
        }
        .badge-secondary {
            padding: 8px 12px;
        }
    </style>

</head>
<body>
<div th:replace="nav :: nav"></div>
<div style="height: 20px"></div>
<div class="container">
    <div class="my-3">
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary" th:href="@{/movies}">BACK</a>
        </div>
    </div>
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    <form th:action="@{/movies/new}" th:object="${movie}" method="post">
        <div class="form-group">
            <label>영화 제목</label>
            <input type="text" th:field="*{title}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>감독</label>
            <input type="text" th:field="*{director}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>장르</label>
            <div id="genreList" class="d-flex flex-wrap">
                <div class="badge badge-secondary m-1 genre-badge" data-genre="액션">액션</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="코미디">코미디</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="드라마">드라마</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="SF">SF</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="로맨스">로맨스</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="청춘">청춘</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="고어">고어</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="스릴러">스릴러</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="공포">공포</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="애니메이션">애니메이션</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="범죄">범죄</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="판타지">판타지</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="가족">가족</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="모험">모험</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="전쟁">전쟁</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="음악">음악</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="다큐멘터리">다큐멘터리</div>
                <div class="badge badge-secondary m-1 genre-badge" data-genre="기타">기타</div>
            </div>
        </div>

        <div class="form-group">
            <label>선택한 장르</label>
            <div id="selectedGenres" class="d-flex flex-wrap"></div>
        </div>
        <div class="form-group">
            <label>개봉 일자</label>
            <input type="date" th:field="*{date}" class="form-control" required/>
        </div>
        <input type="hidden" id="selectedGenresInput" name="selectedGenres" />

        <button type="submit" class="btn btn-primary">영화 등록</button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var maxGenres = 4; // 최대 선택 가능한 장르 수
        $('.genre-badge').click(function() {
            var genre = $(this).data('genre');
            addGenreToSelectedList(genre);
        });

        function addGenreToSelectedList(genre) {
            var selectedGenresCount = $('#selectedGenres').find('.badge').length;
            if (selectedGenresCount < maxGenres && $('#selectedGenres').find('.badge[data-genre="' + genre + '"]').length === 0) {
                $('#selectedGenres').append('<div class="badge badge-secondary m-1" data-genre="' + genre + '">' + genre + '<span class="ml-2" style="cursor: pointer;" onclick="removeGenre(this)">X</span></div>');
                $('.genre-badge[data-genre="' + genre + '"]').addClass('active'); // 선택한 장르에 active 클래스 추가
            }
        }

        $('form').submit(function(event) {
            var selectedGenres = $('#selectedGenres').find('.badge').map(function() {
                return $(this).data('genre');
            }).get();
            $('<input>').attr({
                type: 'hidden',
                name: 'selectedGenres',
                value: selectedGenres.join(',')
            }).appendTo($(this));
        });

        // 선택된 장르 삭제 함수
        window.removeGenre = function(element) {
            var genre = $(element).parent().data('genre');
            $(element).parent().remove();
            $('.genre-badge[data-genre="' + genre + '"]').removeClass('active'); // 선택한 장르에서 active 클래스 제거
        }
    });
</script>
</body>
</html>
